
    /* nav bar sectioon */
* {
    margin: 0;
    padding: 0;
}

nav {
    height: 60px;
    background-color: rgb(81, 80, 80);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}

li {
    display: inline-block;
    margin-right: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li:hover {
    color:rgb(255, 149, 73);
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.btn-primary {
    margin-left: 10px;
    padding: 5px 15px;
    background-color: rgb(255, 149, 73);
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: aliceblue;
    color: chocolate;
}

.search {
    padding: 5px 0;
    border-radius: 5px;
    border: none;   
}

/* header section  */


.header-container {
    height: 100vh;
    background-color: rgb(161, 162, 162);
    background-image: url("/asset/image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    text-align: center;
}

.head-text {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight:bolder;
}

.head-text2 {
    font-size: 20px;
    width: 60%;
    margin: auto;
    padding-bottom: 15px;
}

.btn-primary-head {
    margin-left: 10px;
    padding: 15px 25px;
    background-color: rgb(249, 122, 31);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: aliceblue;
}

.btn-primary-head:hover {
    margin-left: 10px;
    padding: 15px 25px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color:rgb(249, 122, 31); 
}

                            /* Service Section */

.service-container {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.service-box-main {
    margin-right: 20px;
}
.service-box {
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;  
}

.box-text1 {
    color: black;    
    text-align: center;
    padding-top: 10px;
}
.service-para {
    width: 50%;
}

.box-text {
    color: black;
}
.service-text {
    padding-left: 60px;
    margin-top: -100px;
}

.btn-service {
    padding: 15px 35px;
    background-color: rgb(249, 122, 31);
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: aliceblue;
}

.service-head {
    font-size: 40px;
    margin: 15px 0;
}
.red {
    color: red;
}

.service-para {
    margin-top: 15px 0;
    padding-bottom: 30px;
}
.img-5 {
 width: 80px;
 border-radius: 50px;
}

.head-foot {
    display: flex;
    text-align: center;
}

.img-sec {
    display: flex;
    justify-content: center;
}

                        /* Appointment Section */

.apppo-Container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    background-color: rgb(255, 0, 0);
    height: 150px;
    align-items:center;
    padding: 0 25px;
    gap: 40px;
    margin-top: -70px;
    border-radius: 10px;
    color: aliceblue;
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 16px;
}
.call-icon {
    border-right: 2px solid wheat;
    padding-right: 20px;
}

.img-1 {
    padding-right: 10px;
}

.app {
    color: aliceblue;
}


                          /* Card Section */

.card-container {
    height: 80vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 70px 50px;
    font-family: 
}

.Cards-box {
    height: 410px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.blog-img {
    width: 100%;
    border-radius: 10px;
}

.blog-head-text {
    font-size: 25px;

}

.blog-text {
    padding: 0 10px;
    text-align: justify;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.blog-main-text {
    font-size: 60px;
}

                          /* footer setion */


.footer-container {
    height: 400px;
    background-color: rgb(23, 23, 23);
    color: aliceblue;
    margin-top: 180px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    gap: -30px;
    padding: 0 90px;
}

.f-icons {
    width: 30px;
}

.ueser-link {
    margin-left: 40px;
}

.f-icons {
    padding-top: 20px;
    padding-right: 10px;
}

.ftext-para {
    font-weight: bold;
}

.f-text-main {
    padding-bottom: 35px;
}

.ftext {
    padding: 5px 0;
}


                                    /* footer last */
hr {
    color: rgb(145, 146, 147);
    margin-top: -60px;;
    text-align: center;
    border: 0.5px solid rgb(255, 255, 255);
    
}

.footer-last {
    color: aliceblue;
    text-align: center;
}

.Copyright {
    padding-top: 20px;
}
